name: Ejecutar Tienda APK
on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *' # Ejecutar cada hora

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Instalar herramientas Android (AAPT)
        run: |
          sudo apt-get update
          sudo apt-get install -y aapt

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          
      - name: Instalar librerías Python
        run: pip install -r requirements.txt
        
      - name: Correr Script
        env:
          TELEGRAM_API_ID: ${{ secrets.TELEGRAM_API_ID }}
          TELEGRAM_API_HASH: ${{ secrets.TELEGRAM_API_HASH }}
          GOOGLE_SERVICE_ACCOUNT_JSON: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_JSON }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHANNEL_ID: ${{ secrets.TELEGRAM_CHANNEL_ID }}
          # Si no agregaste el secreto de la carpeta, usa el ID fijo en el código python
        run: python main.py
